#nav {
    margin: 0;
    padding: 5px 10px;
    background: black;
}

#nav li {
    display: inline-block;
    text-align: center; /* текст горизонтально по центру */
}

#menu ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }

#menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 11px;
    display:block;
}

#menu ul li a:hover, #menu ul li .current {
    color: white;
    background-color: black;
}

/* For messages.scala.html */
#messageRight{
    float: right;
    background-color: #22aadd;
    margin-top: 10px;
    word-wrap: break-word;
    padding: 0 5px;
    width: 80%;
}

#messageLeft{
    float: left;
    background-color: grey;
    margin-top: 10px;
    word-wrap: break-word;
    padding: 0 5px;
    width: 80%;
}

#allMessages:after {
    content: "";
    display: block;
    height: 100px;
}

#inputMessage {
    height: 75px;
    max-height: 75px;
    resize: none;
    overflow-y: auto;
}

