@(friendList :collection.mutable.Buffer[domain.User]))

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.mobile-1.4.5.min.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.mobile-1.4.5.min.js")" type="text/javascript"></script>

<div style="width: 100%; height: auto;">
    <div style="position: fixed; top: 0; left:0; right:0; height: 60px; width: 100%; margin: 0 auto; z-index: 10;">
        <ul id="nav">
            <li><h3 style="text-align: center;">Friends</h3></li>
            <li style="float: right;"><a href="#main" style="background-color: black; border-color: black;" class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow">Back</a></li>
        </ul>
    </div>

    <div class="ui-content" style="margin: calc(60px) 10px 10px 10px; z-index: 4;">
        <ul data-role="listview" data-inset="true">
        @if(friendList != null){
            @for(friend <- friendList){
                <li>
                    <a href="#dialog" onclick="getMessages('','@friend.login')">
                        <img src='@friend.pmd5' style="padding: 10px; width: 100px; height: 60px;">
                        <h2>@friend.login</h2>
                    </a>
                </li>
            }
        }
        </ul>
    </div>
</div>

