@(currentUserDialogs: collection.mutable.Buffer[domain.User], l:String, p:String)

<!DOCTYPE html>

<html ng-app="app" style=".md-scroll-mask { position: initial;}">
    <head>
        <title>Messenger</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.mobile-1.4.5.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.mobile-1.4.5.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
    </head>
    <body ng-controller="addMessages">
        <div data-role="page" id="main" data-theme="b">
            <div data-role="panel" id="menu" data-theme="b">
                <ul style="list-style-type: none;">
                    <li><a href="#friends" data-ng-click="getFriends('@l')"><h3>Friends</h3></a></li>
                    <li><a href="#main"><h3>Dialogs</h3></a></li>
                    <li><a href="#settings"><h3>Settings</h3></a></li>
                </ul>
            </div>

            <div data-role="header" style="background-color: black; height: 70px;">
                <h1 style="font-size: 15pt;">Messenger</h1>
                <a href="#menu" style="background-color: black; border-color: black; font-size: 13pt;" class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow">Menu</a>
                <a onclick="exit()" style="background-color: black; border-color: black; font-size: 13pt;" class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow">Exit</a>
            </div>

            <div data-role="main" class="ui-content">
                <h2>@l Dialogs</h2>
                <ul data-role="listview" data-inset="true">
                    @for( friend <- currentUserDialogs) {
                        <li>
                            <a href="#dialog" data-ng-click="getMessages('@l','@friend.login')">
                                <img src='@friend.photo' style="padding: 10px; width: 100px; height: 60px;">
                                <h2>@friend.login</h2>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div data-role="page" id="dialog" data-theme="b">
            <div style="width: 100%; height: auto;">
                <div style="position: fixed; top: 0; left:0; right:0; height: 60px; width: 100%; margin: 0 auto;">
                    <ul id="nav">
                        <li style="float: right;"><a href="#main" style="background-color: black; border-color: black;" class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow" data-ng-click="closeDialog()">Close</a></li>
                        <li><img src='{{messagesWithInfo.InfoFrom.photo}}' style="padding: 5px 10px; width: 60px; height: 35px; vertical-align: middle;"></li>
                        <li><h3>{{messagesWithInfo.InfoFrom.login}}</h3></li>
                    </ul>
                </div>

                @if(messages != null) {
                    <div class="ui-content" id="allMessages" style="margin: calc(60px) 10px 100px 10px; min-height: calc(100% - 60px);">
                        <div ng-repeat="(key,val) in messagesWithInfo.Messages">
                                <div id="messageRight" ng-if="val.from == '@l'">
                                    <p>{{ val.message }}</p>
                                </div>

                                <div id="messageLeft" ng-if="val.from != '@l'">
                                    <p>{{ val.message }}</p>
                                </div>
                        </div>
                    </div>
                    <div  id="footerMessage" style="width: 100%; height: 90px; margin: 0 auto; position: fixed; bottom: 0; background-color: black;">
                        <table style="width: 100%; margin: 0 10px; border-spacing: 10px 0;">
                            <tr>
                                <td style="width: 70%;"><textarea id="inputMessage"></textarea></td>
                                <td style="width: 20%;"><button class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow" data-ng-click="sendMessage('@l','')">Send</button></td>
                            </tr>
                        </table>
                    </div>

                }else{
                    <div class="ui-content" id="allMessages" style="margin: calc(60px) 10px 100px 10px; min-height: calc(100% - 60px);"></div>
                    <div  id="footerMessage" style="width: 100%; height: 90px; margin: 0 auto; position: fixed; bottom: 0; background-color: black;">
                        <table style="width: 100%; margin: 0 10px; border-spacing: 10px 0;">
                            <tr>
                                <td style="width: 70%;"><textarea id="inputMessage"></textarea></td>
                                <td style="width: 20%;"><button class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow" data-ng-click="sendMessage('@l','')">Send</button></td>
                            </tr>
                        </table>
                    </div>
                }

            </div>
        </div>

        <div data-role="page" id="friends" data-theme="b" style="width: 100%; height: auto;">
                <div style="position: fixed; top: 0; left:0; right:0; height: 60px; width: 100%; margin: 0 auto; z-index: 10;">
                    <ul id="nav">
                        <li><h3 style="text-align: center;">Friends</h3></li>
                        <li style="float: right;"><a href="#main" style="background-color: black; border-color: black;" class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-shadow">Back</a></li>
                    </ul>
                </div>

                <div class="ui-content" style="margin: calc(60px) 10px 10px 10px; z-index: 4;">
                    <ul data-role="listview" data-inset="true">
                         <li ng-repeat="f in friendsInfo">
                             <a href="#dialog" data-ng-click="getMessages('', f.login)">
                                 <img src='{{ f.photo }}' style="padding: 10px; width: 100px; height: 60px;">
                                 <h2>{{ f.login }}</h2>
                             </a>
                         </li>
                    </ul>
                </div>
        </div>

        <div data-role="page" id="settings" data-theme="b"></div>

        <div data-role="page" id="registration" data-theme="b">
            <div data-role="header" style="background-color: black; height: 70px;">
                <h1 style="font-size: 15pt;">Messenger</h1>
            </div>
            <div data-role="main" class="ui-content">

            </div>
        </div>

        <div data-role="page" id="authorization" data-theme="b">
            <div data-role="header" style="background-color: black; height: 70px;">
                <h1 style="font-size: 15pt;">Messenger</h1>
            </div>
            <div data-role="main" class="ui-content">

            </div>
        </div>

            <!--Изоляция от траблов-->
        <script type="text/javascript">
            var friendLogin = '';
            localStorage.setItem('l','@l');
            localStorage.setItem('p','@p');

            function exit() {
                localStorage.clear();
                window.location = window.location.href+ "/";
            }


//            function getFriends(user) {
//                $.ajax({
//                    type: 'GET',
//                    url: '/getFriends?user=' +user,
//                    success: function (data) {
//                        $('#friends').html(data);
//                    },
//                    error: function (data) {
//                        console.log('getMessages Error =  ' + data);
//                    }
//                });
//            }


            function getDialogs() {
                $.ajax({
                    type: 'GET',
                    url: '/getDialogs',
                    success: function (data) {
                        $('#main').html(data);
                    },
                    error: function (data) {
                        console.log('sendMessage Error =  ' + data);
                    }
                });
            }

            angular
            .module('app', [])
            .controller('addMessages', addMessages);

            function addMessages($scope,$http,$interval) {
                var interval;
                $scope.getMessages = function (you,friend) {
                    if(you == '') you = localStorage.getItem('l');
                    if(friend == '') friend = friendLogin;
                    console.log('friend= '+ friend);
                    console.log('you= '+ you);

                    // stops any running interval to avoid two intervals running at the same time
                    $scope.closeDialog();

                    //ajax for get messages
                    $http.get('/getMessages?f1=' + friend + '&f2=' + you)
                            .success(function (data) {
                                $scope.messagesWithInfo = data;
                                console.log('$scope.messagesWithInfo =  ' +  $scope.messagesWithInfo);
                                friendLogin = $scope.messagesWithInfo.InfoFrom.login;
                                console.log('friendLogin =  ' + friendLogin);
                            })
                            .error(function (data, status, headers, config) {
                                console.log('getMessages Error =  ' + status);
                            });


                    // $interval repeats the execution of the function continuously in the 5 seconds interval
                    interval = $interval(function () {
                        $http.get('/getMessages?f1=' + friend + '&f2=' + you)
                                .success(function (data) {
                                    $scope.messagesWithInfo = data;
                                    console.log('$scope.messagesWithInfo =  ' +  $scope.messagesWithInfo);
                                    friendLogin = $scope.messagesWithInfo.InfoFrom.login;
                                    console.log('friendLogin =  ' + friendLogin);
                                })
                                .error(function (data, status, headers, config) {
                                    console.log('getMessages Error =  ' + status);
                                });
                    }, 5000);
                };

                $scope.sendMessage = function (from, to) {
                    if(to == '') to = friendLogin;
                    console.log('to =  ' + to);
                    var message =  $('#inputMessage').val();
                    $scope.messagesWithInfo.Messages.push({"from": from, "to": to, "message": message});
                    console.log(message);
//                    document.body.scrollTop = document.body.scrollHeight;
                    $.ajax({
                        type: 'GET',
                        url: '/saveMessage?from=' + from + '&to=' + to + '&message=' + message,
                        success: function (data) {
                            console.log('Success!');
                        },
                        error: function (data) {
                            console.log('sendMessage Error =  ' + data);
                        }
                    });
                    $('#inputMessage').val('');
                };

                // stops the interval
                $scope.closeDialog = function () {
                    $interval.cancel(interval);
                };

                $scope.getFriends = function (user) {
                    console.log("getFriends - user= " +user);

                    //ajax for get friends
                    $http.get('/getFriends?user=' + user)
                            .success(function (data) {
                                $scope.friendsInfo = data;
                                console.log('$scope.friendsInfo =  ' +  $scope.friendsInfo[0].login);
                                console.log('$scope.friendsInfo =  ' +  $scope.friendsInfo[0].photo);

                            })
                            .error(function (data, status, headers, config) {
                                console.log('getMessages Error =  ' + status);
                            });
                }
            }

        </script>
    </body>
</html>
